input[type="number"] {
  width: 90px;
}

@media screen and (min-width: 600px) {
  .layout {
    display: flex;
    gap: 32px;
  }

  .region1 {
    min-width: max-content;
  }
}

.region1 p:first-child {
  margin-top: 0;
}

[data-state="valid"],
[data-validity="valid"],
{
  border: 2px solid green;
}

[data-state="invalid"],
[data-validity="invalid"] {
  border: 2px solid red;
}

.rules {
  width: max-content;

  background-color: #e9e9ed;
  border: 1px solid #8f8f9d;
  padding: 5px;
}

.remove-rule {
  visibility: hidden;
}

.rule:hover .remove-rule {
  visibility: visible;
}

.canvas {
  border: 1px solid #333;
}

.stats {
  font-size: 12px;
}

.stats p {
  margin: 4px 0;
}
